@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#wrapper{
    height: 100vh;
    width: 100vw;
    background-color: rgb(246, 235, 221);
    overflow-y: hidden;
}

.card_container{
    /* border: 5px solid black; */
    background-color: white;
    width: 45%;
    height: 390px;
    margin: 0 auto;
    margin-top: 200px;
    border-radius: 10px;
    display: flex;
}

.image_container{
    width: 50%;
    height: 100%;
}

.image_container img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.desc_container{
    width: 50%;
    height: 100%;
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    gap:12px;
    padding: 18px;
}

.desc_container p{
    color: rgba(108, 107, 107, 0.995);
    font-size: 16px;
    letter-spacing: 3px;
}

.head_container{
    width: 70%;
    /* font-size: 30px; */
    font-family: "Inter", sans-serif;
    margin-bottom: 10px;
}

.para_container{
    width: 280px;
  /* padding-right: 0.5px; */
  margin-bottom: 10px;
}

.para_container p{
    font-size: 15px;
    color: rgb(97, 96, 96);
}

.price_container{
    display: flex;
    gap: 8px;
}

.price{
    color: darkgreen;
    font-size: 30px;
    font-weight: bolder;
}

.discount{
    font-size: 17px;
    color: rgba(108, 107, 107, 0.995);
    padding-top: 11px;
}

.cart_container{
    /* border: 2px solid yellow; */
    border-radius: 7px;
    background-color: rgb(1, 137, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 93%;
    height: 50px;
}

.cart_container p{
    color: white;
}